.request-group > div{
    width:350px;
    height:100px;
    background-color: white;
    margin-right: 150px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.request-group{
    height: 100svh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    padding-left:150px;
}

.request-group>div:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}