.log-table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles{
    text-align: center;
    margin-top:0;
}

.table-card{
    width: 80%;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap:50px;
    align-items: center;
    padding: 12px 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table-card>div{
    width: 300px;
    text-align: center;
}

.table-card.header{
    font-weight: bold;
    background-color: #f0f0f0;
}

.view-btn{
    background-color: #007bff;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.view-btn:hover{
    background-color: #0056b3;
}

.cancel-btn{
    background-color: #ff3700e0;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.cancel-btn:hover{
    background-color: #b30000;
}
