.dashboard-container{
    height: 100svh;
    background-color: #E3EBFF;
}

.dashboard-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding-left:150px;
}

.dashboard-inner > div{
  width: 350px;
  height: 300px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.image{
    height: 100px;
    width: 100px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.purpose{
    text-align: center;
}

.dashboard-inner>div:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.user-container{
    position:absolute;
    top:20px;
    right:20px;
    font-weight: bold;
}
