.startup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background:linear-gradient(to bottom, #4a76e6a9 23%, #FFFFFF 91%);
}

.hero-title{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}

.hero-description{
    font-size: 32px;
    color: #000000;
    font-style: italic;
}

.button-container {
    margin-top: 30px;
}

.student, .staff {
    border: 0;
    height: 45px;
    width: 150px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #000dff84;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.student:hover, .staff:hover {
    background-color: #555dea;
    transition: 0.3s ease-in-out;
}

.icon-group{
    height: 150px;
    width: 80%;
    border: 2px solid #A7A7A7;
    margin-top: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #6c96ff4b;
}

.icon-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-image{
    height: 60px;
    width: 60px;
}

.icon-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-container{
    position:absolute;
    top:20px;
    left:20px;
    height:40px;
    width: 40px;
    cursor: pointer;
}

.logo-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

