.login-form{
    height: auto;
    width: 30%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input{
    height: 30px;
    width: 300px;
   margin-bottom: 40px;
}




